{#
/**
 * @file
 * Default theme implementation to display learnign path notification.
 *
 * Available variables:
 * - markup: The text with markup.
 */
#}
<div class="lp_info mb-4 py-4 pr-3 pr-md-5">
  <span class="lp_icon_info"></span>
  <p class="lp_info_text">{{ markup|raw }}</p>
</div>
