[type="reset"],
[type="submit"],
[type="button"],
a.button,
button {
  @extend .btn;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:not([class*="h5p-"]):not([class*="btn-"]):not([class*="mat-"]):not(.link):not(.close):not(.trigger):not(.toolbar-icon) {
    @extend .btn-light;
  }

  &.link {
    @extend .btn-link;
    padding: 0;
    border: 0;
    line-height: inherit;
    vertical-align: unset;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  & + .button {
    margin-left: 1rem;
  }
}

.btn-group {
  & + .button {
    margin-left: 1rem;
  }
}

.btn-success {
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #fff;
  }
}

a.button#edit-delete {
  @extend .btn-outline-danger;
}

input#edit-preview {
  @extend .btn-outline-success;
}

a.button {
  @extend .btn;
  @extend .btn-link;
}

.h5p-joubelui-button,
.h5peditor .h5p-joubelui-button,
.h5peditor .ui-dialog .h5p-joubelui-button {
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0.5em 1em;
  padding: 0.5em 1.25em;
  border-radius: 2em;
  background: #1a73d9;
  color: #ffffff;
  cursor: pointer;
  border: none;
  box-shadow: none;
  transform: translateZ(0);
  display: inline-block;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  vertical-align: baseline;
}

.h5p-joubelui-button:focus,
.h5p-joubelui-button:hover {
  background: #1356a3;
  color: #fff;
  text-decoration: none;
  transition: initial;
}
