#menu-wrapper {
  margin-bottom: $menu-margin-bottom;

  @include media-breakpoint-down($header-mobile-breakpoint) {
    display: none;
    margin-top: -$header-margin-bottom;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: auto;
    max-width: none;

    &.show {
      display: block;
    }
  }

  > div {
    @include media-breakpoint-down($header-mobile-breakpoint) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

nav.block-system_menu_block-main,
nav#mobile-menu {
  padding: 2rem 1.5rem 0;

  @include media-breakpoint-down($header-mobile-breakpoint) {
    padding-top: 0;
  }

  ul:not(.contextual-links) {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      @include media-breakpoint-up(breakpoint-next($header-mobile-breakpoint)) {
        display: inline-block;
        vertical-align: top;
      }

      & + li {
        @include media-breakpoint-up(breakpoint-next($header-mobile-breakpoint)) {
          margin-left: 1rem;
        }
      }

      a {
        $color: #c7c7c7;
        $color-hover: $blue;
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        color: $color;
        text-decoration: none;
        padding: 2.5rem 0.75rem;

        &:before {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          font-family: 'icomoon';
          font-size: 25px;
        }

        &.search:before {
          content: '\e915';
        }

        &.user:before {
          content: '\e917';
        }

        &.administration:before {
          content: '\e916';
        }

        &.help:before {
          content: '\e90c';
        }

        &.logout:before {
          content: '\e90e';
        }

        @include media-breakpoint-up(breakpoint-next($header-mobile-breakpoint)) {
          border-bottom: 3px solid transparent;
          min-width: 110px;
          height: 67px;
        }

        @include media-breakpoint-down($header-mobile-breakpoint) {
          padding: 1rem 0.75rem 1rem 0;
          font-size: 1rem !important;
          text-align: left;
          background-position: left center !important;
          padding-left: 3rem;
        }

        &.is-active,
        &:hover {
          border-bottom-color: $color-hover;
          color: $color-hover;
        }

        @each $path, $picto in $menu-pictos {
          &[data-drupal-link-system-path="#{$path}"] {
            position: relative;
            display: block;

            &:before {
              content: $picto;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate(-50%, 0);
              display: block;
              font-family: 'icomoon';
              font-size: 25px;
            }

            @include media-breakpoint-up(breakpoint-next($header-mobile-breakpoint)) {
              font-size: 0.9rem;
              text-align: center;
            }

            @include media-breakpoint-down($header-mobile-breakpoint) {
              font-size: 1rem;
              text-align: left;
              padding-left: 3rem;

              &:before {
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
              }
            }
          }
        }
      }
    }
  }
}
