body.page-calendar-event-add-opigno_calendar_event,
body[class*="page-calendar-event-"][class*="-edit"] {
  .field--name-displayed,
  .field--name-field-article,
  .field--name-field-calendar-event-group {
    display: none;
  }

  .form-item-field-calendar-event-members,
  div#edit-members {
    @extend .form-group;

    .form-item-training {
      @include media-breakpoint-up(md) {
        margin-left: $form-label-width;
      }
    }

    > .form-element-wrapper,
    > div#members {
      @include media-breakpoint-up(md) {
        margin-left: $form-label-width;
      }
    }
  }
}

body.page-opigno-calendar {
  .next-link a::before {
    content: '';
    @include svg-picto('picto-calendar-add');
    display: inline-block;
    vertical-align: top;
    width: 1rem;
    height: 1.2rem;
    margin-right: 0.5rem;
  }
}
