{#
/**
 * @file
 * Default theme implementation to display the training information.
 *
 * Available variables:
 * - step: The step object with all the data.
 * - group: The Group object which the steps is part of.
 */
#}
<div class="lp_timeline_info px-3 px-md-5 py-3">
  <span class="lp_timeline_icon"></span>
  <div class="lp_timeline_info_text">
    <span>{{ label }}</span>
    <span class="lp_timeline_info_tooltip">{{ text }}</span>
  </div>
</div>
