{#
/**
 * @file
 * Default theme implementation to display the training elements.
 *
 * Available variables:
 * - #course_id: Course id.
 * - elements: The training elements.
 */
#}

<div id="{{ 'course_steps_' ~ elements['#course_id'] }}"
     class="lp_course_steps_wrapper ml-md-7 mr-md-5 mb-5">
  <h4>{{ 'Course Content'|t }}</h4>
  {{ elements }}
</div>


