<div class="view-style">
  <ul class="list-unstyled d-flex justify-content-end">
    <li><a href="#" class="btn line"><i class="icon-lines"></i>line</a></li>
    <li class="ml-3"><a href="#" class="btn block"><i class="icon-blocks"></i>block</a></li>
  </ul>
</div>
